


.navbar{
    height: 50px;
    display: flex;
    background-color: #003b95;
    justify-content: center;
}

.navContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
 
}

.logo {
    font-weight: 700;
    color: white;
    display: inline-block;
    text-decoration: none;
}

button.Navbtn {
    margin-left: 20px;
    border: none;
    padding: 5px 15px;
    color: #006ce4;
    font-weight: 500;

}